body {

    height: 100%;
    width: 100%;
    
}

img {

    max-width: 100%;
    max-height: 100%;

    border-radius: 10px;
    border: 3px solid white;
}

h3 {
    
    text-transform: uppercase;
    padding: 10px;
}

hr {

    display: block;
    height: 2px;
    width: 30em;
    border: 0;
    border-top: 3px solid #B0C3D6;
    margin: 10px 0;
}

ul {

    display: flex;
    flex-direction: column;
    gap: 20px;

    list-style-type: none;
}

p {

    display: flex;
    align-items: center;
    
    gap: 2em;
    padding-bottom: 10px;
    padding-left: 25px;

}


.container {

    display: flex;
    justify-content: flex;
    align-items: flex-start;
    gap: 30px;
} 

.image {

    width: 200px;
    height: 205px;
    
    border-radius: 10px;
    padding: 10px;
}

.aside {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
    padding: 60px;
    background-color: #B0C3D6;
    
}

.aside-content {
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside h3 {
     
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.aside hr {

    display: block;
    height: 2px;
    width: 12em;
    border: 0;
    border-top: 3px solid white;
    margin: 10px 0;
}

.title {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 15px;
    font-size: 30px;
}

.page {

    display: flex;
    flex-direction: column;

    padding: 10px;
}

.page-content {

    display: flex;
    flex-direction: column;

    padding: 30px;
}

.work-table {
    
    display: flex;
    align-content: flex;
    gap: 2em;
    padding-bottom: 35px;
}

.skills-table {

    display: flex;
    align-content: flex;
    gap: 5em;
 
} 
